@{
    ViewBag.Title = "Home Page";
}


<div class="row">
	<div class="col-md-3">
		<p class="btn btn-lg">@Html.ActionLink("Clientes", "Index", "clientes")</p>
	</div>
	<div class="col-md-3">
		<p class="btn btn-lg">@Html.ActionLink("Acessos", "Index", "Acessos")</p>
	</div>
	<div class="col-md-3">
		<p class="btn  btn-lg">@Html.ActionLink("Contatos", "Index", "contatos")</p>
	</div>
	<div class="col-md-3">
		<p class="btn  btn-lg">@Html.ActionLink("Erros", "Index", "erros")</p>
	</div>
</div>